{{partial "style/colors.html" .}}
@import '_variables';
@import '_style';
@import '_header';
@import '_footer';

body {
    background-color: white;
}

main {
    padding: 2.5em 1em 5em 1em;
    text-align: center; 

    .not-found {
        margin: 2em 0;
        height: 60vh;
        max-width: 90vw;
        @media screen and (max-width: $break-tablet) {
            width: 85vw;
        }
        fill:$primary-color;
    }

    h1 {
        @extend .heading;
        color: $primary-color;
    }
}

footer {
        color: $dark-color;
        a {color: $dark-color;}
}
